<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>relatorio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body data-page="Relatorio">
    <div class="container">
        <h1 class="title-n1">Relatório e fechamento</h1>

        <div>
            <h3 class="subtitle-n3">Tabela de Relatórios</h3>
            <div class="tabela">
                <table id="EntradaSaidaTable">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Valor</th>
                            <th>Descrição</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <!-- Dados serão inseridos aqui -->
                    </tbody>
                </table>
            </div>
        </div>

        <div class="formFlex">
            <form id="formAgendamento" class="cadastro">
                <label for="dataInicio">Data Inicio:</label>
                <input type="date" name="dataInicio" id="dataInicio" required>

                <label for="dataFim">Data Fim:</label>
                <input type="date" name="dataFim" id="dataFim" required>
            </form>
        </div>

        <div class="Gerar">
            <button id="btnGerar" type="button" class="btn" onclick ="exportarCSV(true)">Gerar Relatório</button>
            <button id="btnAgendar" type="button" class="btn" onclick ="exportarCSV(false)">Fechamento Mensal</button>
        </div>

        <div class="retorno-menu">
            <button id="btnVoltar" class="btn">Retorne ao Menu</button>
        </div>
    </div>
    
    <script src="scripts.js" defer></script>
    <script src="scriptsCsv.js" defer></script>
</body>
</html>
