<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="styles.css">
   

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
</head>
<body  class="BodyMenu" data-page="menu">
    <header id="header">
        <div class="Container_menu">
            <div class="ItensMenu">
                <h2>Menu</h2>
                <button id="agendamento" type="submit">Agendamento de serviços</button>
                <button id="cadastro" type="submit">Cadastro de Clientes e Funcionarios</button>
                <button id="relatorio" type="submit">Relatório e fechamento mensal</button>
                <button id="entrada_saida" type="submit">Cadastro Entrada/Saida</button>
            </div>
            <div class="BtnSairSpace">
                <div class="BtnSair">
                    <button id="BtnSair" type="submit">Clique para Sair</button>
                </div>
            </div>
            
        </div>
    </header>
    <div id="toggle-menu" class="toggle-menu">
        <span class="material-icons-outlined">arrow_forward</span>
    </div>

    <div class="text_main">
        <div class="text">
            <h1>Este é seu espaço para gerenciar todos os aspectos do seu trabalho de terraplanagem.</h1>
        </div>
    </div>

    <div class="img">
        <div class="text"><img src="img/maquina.jpg" alt="maquinas"></div>
        <div class="text"><img src="img/caminhao.jpg" alt="maquinas"></div>
        <div class="text"><img src="img/maquina1.jpg" alt="maquinas"></div>
    </div>

    <div class="text">
        <h2>Seja bem vindo a nosso sistema!</h2>
    </div>
    
    <footer>
        <div class="footer-content">
            <ul class="social-links">
                <li><a href="https://www.facebook.com" target="_blank"><span class="material-icons">facebook</span></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><span class="material-icons">instagram</span></a></li>
                <li><a href="https://github.com" target="_blank"><span class="material-icons">github</span></a></li>
            </ul>
        </div>
        <p>&copy; 2025 Todos os direitos reservados.</p>
    </footer>
    
    <script src="scripts.js" defer></script>
</body>

</html>
